body{
    margin: 0 auto;
    background-image: url(/images/neon\ glow.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.nav_logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
 
.text_logo{
  font-family: "Orbitron", sans-serif;
  font-size: 45px;
  font-style: normal;
  color: white;
}

.nav_list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 30px;
    
}

.nav_link{
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 2;
    letter-spacing: 0;
    color:white;
    text-decoration: none;
}

a:hover{
    color: #B71DDE;
}

.section_intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8A2CFF;
    padding: 20px;
}

.intro_title{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    letter-spacing: 5px;
    color:white;
    margin-bottom: 5px;
}

.intro_text{
    font-family: "Orbitron", sans-serif;
    font-size:25px;
    color: white;
    text-align: center;
    margin-top: 0;
}

.btn{
    width: 200px;
    height: 40px;
    margin:20px 0 20px 0;
    border-radius: 30px;
    font-family: "Orbitron", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0;
    color: purple;
}

.btn_getyourtickets:hover{
    background-color: #04d9ff;
    transition: all 0.5s ease-in-out;
}

.cards{  
    width: 100%;         
    max-width:1400px;
    margin:0 auto 30px auto;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    margin-top: 20px;
    padding: 20px;
}

.cards_main-title{
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 5px;
    color: white;
    text-align: center;
}

.cards_container{
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-style: normal;
    font-size: 15px;
    line-height: auto;
    letter-spacing: 0;
    border-top: 3px solid #FFFFFF;
    color:white;
    padding: 20px;
}

.cards_item{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    background-color: black;
    border-radius: 20px;
    border:5px solid #8A2CFF;
}

.cards_title{
    font-family: "Audiowide", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color:#8A2CFF;
    
}

.card_img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.card_spin{
    animation: spin 5s linear infinite;
}

@keyframes spin{
    from{ transform: rotate(0deg);}
    to{ transform: rotate(360deg);}
}

.card_zoom{
    animation:zoom 1s ease-in-out infinite;
}

@keyframes zoom{
    0% {transform: scale(1);}
    50%{ transform: scale(1.1);}
    100%{ transform: scale(1);}
}

footer{
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

.footer_logo{
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}

.footer_links-container{
    display: flex;
    flex-direction: column;
}

.footer_link{
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.5;
    color:white;
    text-decoration: none;
}

.footer_social{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color:white;
    text-decoration: none;
}

.footer_icon{
    font-size: 25px;
    
}